// compile, FilenamePattern: ../css/$1.css

@import 'mixins/responsive';
@import 'themes/abemeister';
@import 'nav';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,600,800,900|Permanent+Marker');

body {
    margin: 0px;
    font-family: 'Lato';
    font-size: 1.2em;
    background: #ddd;

    br {
      display: none;
    }

    @media print {
      header { display: none; }
    }

    header.regularPage {
      nav {
        margin-bottom: 10px;
        a {
          display: inline-block;
          color: $primaryColor;
          padding: 5px;
          margin: 0px 5px;
          font-weight: 300;
          text-decoration: none;
          text-transform: uppercase;
        }
        a:hover {
          background: $boldColor;
          color: $subtleColor;
        }
      }
    }

    h1 {
      margin: 0px;
      color: $primaryColor;
      font-family: 'Permanent Marker', cursive;

      a {
        color: $primaryColor;
        text-decoration: none;
      }
    }

    .resume_wrapper {
      max-width: calc(1000px - 20px);
      margin: 0px auto;
      background: #fff;
      padding: 20px;
      box-shadow: rgba(0,0,0,.3) 1px 1px 2px;

      .section.center {
        text-align: center;
      }

      .section.right {
        text-align: right;
      }

      .section:last-child {
        border: 0px;
      }

      .section {
        padding: 20px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        border-bottom: solid #ddd 1px;
        oveflow: auto;
        font-size: 16px;
        font-weight: 300;

        div.label {
          float: left;
          width: 250px;
          font-weight: 600;
          text-transform: uppercase;
        }

      }

      .section.withlabel {

        .content {
          margin-left: 260px;
          width: calc(100% - 250px);
        }

      }

      .description {
        font-style: italic;
        padding-bottom: 30px;
      }

      h1 {
        // font-family: Georgia, Serif;
        color: $primaryColor;
        font-size: 250%;
        font-weight: 300;
        // text-align: center;
      }

      h2 {
        color: $secondaryColor;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
      }

      a {
        color: $primaryColor;
        text-decoration: none;
      }

      i.fa {
        margin-right: 10px;
        width: 10px;
        display: inline-block;
        color: $primaryColor;
      }
    }

    .fullWindow {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
      flex-direction: column;
        transition: all .5s ease-in-out;

        h1.title {
          margin: 0px;
          font-family: 'Permanent Marker', cursive;
          color: $primaryColor;
          display: inline-block;
          font-size: 300%;
          padding: 5px 20px;
          background: rgba($subtleColor,.8);
        }

        .intro {
          background: rgba($boldColor,.8);
          color: $subtleColor;
          display: inline-block;
          padding: 10px 14px;
        }

      .marginTop {
        margin-top: 150px;
      }

      .lightColor {
        color: $subtleColor;
      }

      .button {
        background: rgba($subtleColor,.6);
        color: #000;
        padding: 18px 30px;
        margin: 0px 10px;
        display: inline-block;
        font-size: 80%;
        text-align: center;
        text-decoration: none;
        transition: background .4s, border .4s;
      }

      @include breakpoint(xs) {
        .button {
          display: block;
          margin: 10px !important;
        }

        .badge {
          display: inline-block;
        }
      }

      .button-small {
        font-size: 80%;
        padding: 6px;
      }

      .badge {
        border-radius: 50%;
        width: 32px;
        height: 28px;
        font-size: 100%;
        text-align: center;
        padding: 0px;
        padding-top: 4px;
      }

      .button-large {
        font-size: 120%;
      }

      .button-block {
        display: block;
      }

      .button:hover, .button.hollow:hover {
        background: rgba($subtleColor,.8);
        color: #000;
      }

      .button.hollow {
        background: rgba(0,0,0,.2);
        border: $subtleColor solid 1px;
        color: $subtleColor;
      }

      #video{
       position: relative;
       background: transparent;
      }

      .ytplayer-container{
       position: absolute;
       top: 0;
       z-index: -1;
      }

    }

    .padded {
        padding: $columnPadding;
    }

    .text-center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }

    .bold {
      font-weight: bold;
    }

    .absolute {
      position: absolute;
    }

    .relative {
      position: relative;
    }

    .row.alignTop {
      align-items: flex-start;
    }

    .row.alignBottom {
      align-items: flex-end;
    }

    .row {
      width: 100%;
      display: flex;
      overflow: auto;
      flex-wrap: wrap;
      align-items: center;

      .column {
        padding: $columnPadding;
        height: 100%;
      }

      @for $i from 12 through 1 {
        .column.xsmall-#{$i}, .column.small-#{$i}, .column-medium-#{$i}, .column.large-#{$i} { width: calc( #{100/12*$i + %} - #{$columnPaddingSum}); }
      }


        @include breakpoint(md) {
            @for $i from 12 through 1 {
              .large-#{$i} { width: calc(100% - #{$columnPaddingSum}); }
            }
          }


          @include breakpoint(sm) {
              @for $i from 12 through 1 {
                .column-medium-#{$i}, .column.large-#{$i} { width: calc(100% - #{$columnPaddingSum}); }
              }

            }

            @include breakpoint(xs) {

              @for $i from 12 through 1 {
                .column.small-#{$i}, .column-medium-#{$i}, .column.large-#{$i} { width: calc(100% - #{$columnPaddingSum}); }
              }

            }

    }


}
